<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>

        <!-- Discover installed browsers. -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <!-- Discover Custom Tabs providers. -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_amazon_dark"
        android:label="Amazon Shopping (Dark)"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazonShoppingDark">

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
